.adoption-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-adopt {
  margin-top: 2%;
  margin-bottom: 5%;
}

.adopt-image {
  width: 100%;
  height: auto;
  border-radius: 3px;
  box-shadow: .25rem .25rem .4rem rgba(0, 0, 0, 0.7);
}

.adopt-content-div {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adopt-content-div p {
  padding: 1.5rem;
  text-align: justify;
}

@media only screen and (min-width: 751px) and (max-width: 950px) {
  .adopt-content-div {
    max-width: 50%;
  }

  .adopt-image {
    margin-top: 1.5rem;
  }
}

@media only screen and (min-width: 951px) {
  .adoption-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .adopt-content-div {
    padding: 1rem;
    font-size: 1.35rem;
    margin-top: 1rem;
    max-width: 48%;
    text-align: justify;
    margin-bottom: 1.5rem
  }

  .adopt-image {
    max-width: 75%;
    margin-bottom: 1rem;
  }
  
  .adopt-content-div p {
    max-width: 80%;
  }

}