.video-title{
    text-align: center;
    margin-top: 10%;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height as per your design */
  }

  video {
    max-width: 60%; /* Ensure the video doesn't exceed its container */
    max-height: 100%; /* Ensure the video doesn't exceed its container */
    margin-top: 0.5%;
    border-radius: 3px;
    box-shadow: .25rem .25rem .4rem rgba(0, 0, 0, 0.7);
  }
