@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
}

:root {
  --mainColor: #D66F54;
  --secondaryColor: #FFF3E6;
  --textColor: #212C5F;
}

body {
  /* width: 100vw; */
  /* height: 100vh; */
  background-color: var(--secondaryColor);
  color: var(--textColor)
}
